.header {
    background-color: blue;
    height: 55px;
    border-bottom: solid 10px cyan;
   top: 0;
   position: fixed;
}

li>a {
    display: inline-block;
    color: antiquewhite;
    padding: 15px;
    text-decoration: none;
}

ol {
    list-style-type: none;
    padding-left: 1460px;
    width: auto;

}

li {
    display: inline;
    list-style-type: none;
    font-size: 25px;
    padding-bottom: 10px;
}

main {
    text-align: center;
    margin-top: 100px;
}

div {
    background-color: cyan;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid 3px red;
}

.div-form {
    background-color: cyan;
    border-radius: 30px;
    border: solid 3px red;
    width: 400px;
    margin-left: 475px;

}

input.submit {
    background-color: black;
    color: white;
}

footer {
    background-color: green;
    text-align: center;
    color: white;
    height: 75px;
    padding-top: 25px;
    border-bottom: solid 10px black;

}